/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a; /* dark background for VFX feel */
    color: #ffffff; /* white text */
    line-height: 1.6;
}


.hero {
    height: 100vh; /* full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('images/B_150_beauty_shot_1.png') center/cover no-repeat; /* your hero image */
    color: #ffffff
}

.hero h1 {
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    color: #cccccc;
}


.portfolio {
    padding: 60px 20px;
    text-align: center;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #ffffff;
}

.portfolio iframe {
    width: 80%;
    max-width: 900px;
    height: 500px;
    border: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}


.contact {
    padding: 60px 20px;
    text-align: center;
    background-color: #111111;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.contact p {
    font-size: 1.2rem;
    color: #cccccc;
}

html {
    scroll-behavior: smooth;
}